* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
}

header {
    width: 100%;
    height: 64px;
    padding: 16px 32px;
    background-color: #60F5FF;
    box-shadow: 0px 0px 8px #21212180;
}

footer {
    width: 100%;
    height: 32px;
    position: fixed;
    bottom: 0;
    background-color: #60F5FF;
    color: #02005F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: #02005F;
    color: #60F5FF;
}

.light {
    background-color: #60F5FF;
    color: #02005F;
}

.night {
    background-image: url(../assets/bg-night.png);
    background-position: center;

}

.day {
    background-image: url(../assets/bg-day.png);
    background-position: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
    z-index: 1;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/sky.png);
    background-position: bottom;
    background-size: 64px 128px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    box-shadow: 0px 0px 4px #21212180;
}

.slider::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: #fafafa;
    border-radius: 50%;
    transition: .5s;
}

input:checked+.slider {
    background-position: top;
}

input:focus+.slider {
    box-shadow: 0px 0px 4px lightskyblue;
}

input:checked+.slider::before {
    transform: translateX(32px);
    transition: .5s;
}

.round {
    border-radius: 16px;
}